body {
  margin: 0;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  padding: 8px 20px;
  width: calc(100% - 40px);
  background: #ccc;
  border-bottom: 1px solid #333;

  .icon {
    height: 24px;
  }

  .title {
    line-height: 24px;
    font-size: 24px;
  }
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 8px 8px grey;
}

@import "home";
